:root {
  --color-primary: #2E6056;
  --color-secondary: #5A3D32;
  --color-tertiary: #73BAAC;
  --color-text: #212121;
  --color-accent: #BBBBBB;
}


/* TABLET STYLES: 760px to 1199px */
@media screen and (min-width: 760px) {

  header .banner {
    height: 400px;
  }

}

/* DESKTOP STYLES: above 1200px */
@media screen and (min-width: 1200px) {
  
  h1 {
    font-size: 54px;
    padding-bottom: 8px;
  }
  
  h2 {
    font-size: 40px;
    padding-bottom: 8px;
  }
  
  h3 {
    font-size: 32px;
    padding-bottom: 8px;
  }
  
  h4 {
    font-size: 24px;
    padding-bottom: 8px;
  }
  
  p {
    font-size: 18px;
    padding-bottom: 8px;
  }

  button {
    font-size: 16px;
  }
  
  /* HEADER */

  header .container {
    align-items: center;
    background-color: var(--color-tertiary);
    margin: 0 70px;
    padding: 0 30px;
  }

  header .logo img {
    height: 70px;
    width: 70px;
  }
  
  /* hide menu name and search */
  header .menu-mobile, header .search-mobile {
    display: none;
  }
    
  nav ul {
    display: flex;
  }
  
  nav a {
    color: var(--color-text);
    font-size: 18px;
    margin: 0 25px;
    text-decoration: none;
  }

  nav .current {
    font-weight: bold;
    text-decoration: underline;
  }

  /* make menu and search bar visible */
  header .container .menu, header .container .search {
    display: block;
  }

  header input {
    border-width: 1px;
    border-color: var(--color-accent);
    border-radius: 30px;
    height: 26px;
  }

  header i {
    left: -25px;
    position: relative;
  }
  
  header .banner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    padding: 0 70px;
  }

  header .banner button {
    margin: 10px 0;
    padding: 10px 25px;
  }  
  
}