:root {
  --color-primary: #2E6056;
  --color-secondary: #5A3D32;
  --color-tertiary: #73BAAC;
  --color-text: #212121;
  --color-accent: #BBBBBB;
  --color-white: #FFFFFF;
}


/* DEFAULT STYLES */

body {
  position: relative;
  min-height: 100vh;
}

body, p, button {
  font-family: 'Nunito';
}

h1 {
  font-family: 'Berlin Sans FB Demi', sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 6px;
}

h2 {
  font-family: 'Berlin Sans FB Demi', sans-serif;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 6px;
}

h3 {
  font-family: 'Berlin Sans FB Demi', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 6px;
}

h4 {
  font-family: 'Berlin Sans FB Demi', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 6px;
}

p {
  font-size: 16px;
  padding-bottom: 6px;
}

button {
  cursor: pointer;
  font-weight: bold;
}

button span {
  font-size: 14px;
  padding-left: 10px;
}

.container {
  padding: 1em;
}


/* HEADER */

header .container {
  align-items: center;
  background-color: var(--color-tertiary);
  display: flex;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

header .logo {
  align-items: center;
  display: flex;
}

header .logo img {
  height: 50px;
  width: 50px;
}

/* positioning menu name */
header .menu-mobile, header .search-mobile {
  display: block;
}

header .search-mobile button {
  background: none;
  border: none;
}

header .search-mobile button i {
  font-size: 18px;
}

header .menu-mobile {
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 0 25px;
}

/* hide menu and search bar */
header .container .menu, header .container .search {
  display: none;
}

header .banner {
  align-items: flex-start;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  padding: 0 16px;
}

header .banner button {
  background-color: var(--color-accent);
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 5px 15px;
}

header .banner p {
  width: 50%;
}


/* FOOTER */

footer {
  background-color: var(--color-accent);
  bottom: 0;
  text-align: center;
  position: absolute;
  width: 100%;
}

footer p {
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 0.9rem;
}

footer a {
  color: var(--color-text);
}

footer .copyright {
  font-size: 0.7rem;
}